apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2 # Default jumlah pod
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "5000"
    spec:
      containers:
      - name: backend
        # Pastikan image ini sudah di-push ke Docker Hub Anda
        image: apanyaclay/smart-finance-backend:latest 
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: db
        - name: DB_USER
          value: root
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: finance-secrets
              key: db-password
        - name: DB_NAME
          value: finance_tracker
        - name: DB_PORT
          value: "3306"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: finance-secrets
              key: jwt-secret
        - name: ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: finance-secrets
              key: encryption-key
        - name: PORT
          value: "5000"
        - name: NODE_ENV
          value: "production"
        - name: FRONTEND_URL
          value: "http://localhost"
        # KONFIGURASI PENTING UNTUK HPA
        resources:
          requests:
            cpu: "100m"  # 10% dari 1 Core
            memory: "128Mi"
          limits:
            cpu: "500m"  # Maksimal 50% Core
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /api/health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: LoadBalancer # Agar bisa diakses dari luar (minikube tunnel)